@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Roboto&display=swap');

body {
	font-family: Monrope, sans-serif;
	font-weight: 400;
	background: var(--bg-color);
	margin: 0;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.no-scroll {
	overflow: hidden;
}

.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	font-family: inherit;
}

footer,
header,
menu,
nav,
section {
	display: block;
}

:root {
	--bg-color: #F4F4F4;

	--components-color: #4440F6;
	;
	--dark-color: #111321;
	--grey-color: #A8A8A8;
	--white-color: #FFFFFF;

	--weather-bg-color: #4440F6;
}

