@import './common';
@import './example';


* {
	box-sizing: border-box;
}
a {
	color: inherit;
}

.off {
	display: none;
}

.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.weather-container {
	margin: 0;
	width: 395px;
	height: 675px;
	background-color: var(--components-color);
	padding: 45px 70px 60px 53px;
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;;
}

.weather-top-card {

	display: flex;
}

.temperature-value {
	font-weight: 400;
	font-size: 64px;
	line-height: 1.17;
	border-right: 1px solid #FFFFFF;
	padding-right: 8px;
}

.temperature-description {
	font-weight: 400;
	font-size: 36px;
	line-height: 1.16;
}

.description-wrapper {
	display: flex;
	flex-direction: column;
	padding-left: 8px;
}

.location {
	min-width: 177px;
	min-height: 42px;
	background: rgba(254, 254, 255, 0.3);
	border-radius: 10px;
	padding: 10px 17px 10px 35px;
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.15;
	position: relative;

	// svg{
	// 	position: absolute;
	// 	left: 0;
	// 	top: 7px;
	// }
	&:before {
		content: url(/src/images/icons/location.svg);
		position: absolute;
		left: 7px;
		bottom: 4px;
	}
}

.weather-icon {
	// margin-top: 90px;
	// height: auto;
	// max-width: 100%;
	height: auto;
		max-width: 100%;
		display: block;
		margin: 80px auto 80px;
		// margin-bottom: 32px 0;
		text-align: center;
	img{
		// height: auto;
		// max-width: 100%;
		// display: block;
		// margin: 0 auto;
		// display: inline-block;
		// width: 165px;
		// height: 156px;
		// object-position: 50% 50%;
		// object-fit: cover;
		display: inline-block;
			width: 165px;
			height: 155px;
			object-position: 50% 50%;
			object-fit: cover;
	}
}

.day, .date {
	font-weight: 400;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	margin: 0;
	margin-bottom: 5px;
}

.date {}

.week-weather{
	margin-top: 28px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.weather-button{
	min-width: 177px;
	min-height: 42px;
	background: rgba(254, 254, 255, 0.3);
	border-radius: 10px;
	text-align: center;
	padding: 12px 9px;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.15;
	border: none;
	color: inherit;

}

.weather-week__container {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	// margin: 0;
	// width: 395px;
	// height: 675px;
}

.weather-week__item{

}

.weather-week__value {

}